.idea/
.gradle/
*.iml
*.ipr
*.iws
.project
.classpath
.DS_Store
.settings/
target/
logs/
bin/
build/
out/
*/*.class
*/**/*.class
.metadata/
classes/
wiremock-standalone-2.8.0.jar
wiremock-standalone-2.17.0.jar